/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-material-design
 *= require_tree .
 *= require_self
 */


.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #2C398A !important;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
  background-color: #2C398A !important;
}

.navbar-right{
  padding-right: 3em;
}

ul.nav.navbar-nav{
  margin-top: 1em;
}

.panel {
    margin-top: 2%;
}

.panel-info {
  width: 50%;
}

.logo {
    margin-right: 15px;
    padding: 2px;
    width: 150px;
    height: 58px;
    margin-top: -20px;
    margin-left: 2em;
}

#icon-envelope {
  padding-top: 0.3em;
  font-size: 1.5em;
}

.footer {
    width: 100%;
    height: 40px;
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: #3f51b5;
}

.side-list {
  margin: -2em;
}


.photo {
    width: 100%;
    height: 10%;
}

.thumbnail{
  border: 0 !important;
  padding: 0 !important;
}

.caption{
  padding: 13px !important;
  -webkit-box-shadow: 11px 9px 21px -1px rgba(0,0,0,0.17);
  -moz-box-shadow: 11px 9px 21px -1px rgba(0,0,0,0.17);
  box-shadow: 11px 9px 21px -1px rgba(0,0,0,0.17);
}

.data{
   margin-left: 1.5em;
  .name {
      z-index: 100;
      position: absolute;
      font-size: 22px;
      font-weight: bold;
      left: 4em;
      color: #777777;
  }

  .orientation {
      z-index: 100; 
      font-size: 15px;
      font-weight: bold;
      left: 5em;
      color: #777777;
  }
}

div.clickable {
    position:relative;
    color: white;
}

div.clickable a {
  text-decoration: none; /* Makes sure the link   doesn't get underlined */
  color: white;
}

.panel-body {
  padding-top: 0px !important;
}

.home-boxes1{
  float: left;
  margin-top: 2.4em;
  margin-left: 0.5em;
  padding-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: #03a9f4;
  padding-bottom: 2em;
  -webkit-box-shadow: inset -1px -1px 33px -2px rgba(0,0,0,0.24);
  -moz-box-shadow: inset -1px -1px 33px -2px rgba(0,0,0,0.24);
  box-shadow: inset -1px -1px 33px -2px rgba(0,0,0,0.24);
  -webkit-box-shadow: 11px 9px 21px -1px rgba(0,0,0,0.17);
  -moz-box-shadow: 11px 9px 21px -1px rgba(0,0,0,0.17);
  box-shadow: 11px 9px 21px -1px rgba(0,0,0,0.17);

}

.home-boxes2{
  float: left;
  background-color: #4cae4c;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  -webkit-box-shadow: inset -1px -1px 33px -2px rgba(0,0,0,0.24);
  -moz-box-shadow: inset -1px -1px 33px -2px rgba(0,0,0,0.24);
  box-shadow: inset -1px -1px 33px -2px rgba(0,0,0,0.24);
  
  -webkit-box-shadow: 11px 9px 21px -1px rgba(0,0,0,0.17);
  -moz-box-shadow: 11px 9px 21px -1px rgba(0,0,0,0.17);
  box-shadow: 11px 9px 21px -1px rgba(0,0,0,0.17);
}

.home-boxes3{
  float: left;
  background-color: #3f51b5;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  -webkit-box-shadow: inset -1px -1px 33px -2px rgba(0,0,0,0.24);
  -moz-box-shadow: inset -1px -1px 33px -2px rgba(0,0,0,0.24);
  box-shadow: inset -1px -1px 33px -2px rgba(0,0,0,0.24);
  
  -webkit-box-shadow: 11px 9px 21px -1px rgba(0,0,0,0.17);
  -moz-box-shadow: 11px 9px 21px -1px rgba(0,0,0,0.17);
  box-shadow: 11px 9px 21px -1px rgba(0,0,0,0.17);
}

.list-group-item-heading{
  color: white !important;
  font-size: 23px !important;
  font-weight: bold !important;
}

.row-action-primary{
  padding-top: 20px;
  padding-right: 26px !important;
}

.plus{
  margin-top: -1.6em !important;
  float: right;
  font-size: 1.2em;
}

.active-school-year {
    font-weight: bold;
    font-size: large;
}

.average {
    text-transform: uppercase;
    font-size: 15px;
    background-color: #dff0d8;
}

.table-header {
  padding-top: 0.7em;
  text-align: right;
  
  padding-bottom: 0.5em;
}

.table-responsive{
  color: #808080;
}

th {
  color: #474747;
}

.table-style{
  background-color: #F0F0F0;
}

.breadcrumb{
  margin-bottom: 0px !important;
}

.list-group.list-group-item .row-picture, .list-group .list-group-item .row-action-primary {
  padding-top: 3em;
}







.tutor-view{
  margin-top: 2em;
  margin-bottom: 2em;
  padding-left: 0em;
}


.children {
  background-color: white;
  color: white;
  padding-top: 1em;
  padding-bottom: 8em;
  max-height: 11em;
  margin-right: 0.5em;
  margin-left: 0.5em;
  width: 31%;
  text-align: center;
}

.child {
    text-transform: uppercase;
    font-size: 15px;
    margin: 0 4px 0;
    padding: 7px;
    font-weight: 600;
}

.tutor-name{
  margin-top: 5em;
  margin-left: 10em;
  margin-bottom: 2em;
}

.list-group ul li{
  text-decoration: none;
}

.jumbotron p{
  font-size: 16px !important;
  color:gray;
}


.identification-type {
  font-size: 1.2em;
  background-color: #7F52AC;
  padding-left: 2em;
  color: #F9F9F9;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.children1 {
  background-color: #03a9f4;
  margin-top: 0.5em;
  -webkit-box-shadow: inset -1px -1px 33px -2px rgba(0,0,0,0.24);
  -moz-box-shadow: inset -1px -1px 33px -2px rgba(0,0,0,0.24);
  box-shadow: inset -1px -1px 33px -2px rgba(0,0,0,0.24);
  -webkit-box-shadow: 11px 9px 21px -1px rgba(0,0,0,0.17);
  -moz-box-shadow: 11px 9px 21px -1px rgba(0,0,0,0.17);
  box-shadow: 11px 9px 21px -1px rgba(0,0,0,0.17);
}

.children2 {
  background-color: #4cae4c;
  margin-top: 0.5em;
  -webkit-box-shadow: inset -1px -1px 33px -2px rgba(0,0,0,0.24);
  -moz-box-shadow: inset -1px -1px 33px -2px rgba(0,0,0,0.24);
  box-shadow: inset -1px -1px 33px -2px rgba(0,0,0,0.24);
  -webkit-box-shadow: 11px 9px 21px -1px rgba(0,0,0,0.17);
  -moz-box-shadow: 11px 9px 21px -1px rgba(0,0,0,0.17);
  box-shadow: 11px 9px 21px -1px rgba(0,0,0,0.17);
}

.children3 {
 background-color: #3f51b5;
  margin-top: 0.5em;
  -webkit-box-shadow: inset -1px -1px 33px -2px rgba(0,0,0,0.24);
  -moz-box-shadow: inset -1px -1px 33px -2px rgba(0,0,0,0.24);
  box-shadow: inset -1px -1px 33px -2px rgba(0,0,0,0.24);
  -webkit-box-shadow: 11px 9px 21px -1px rgba(0,0,0,0.17);
  -moz-box-shadow: 11px 9px 21px -1px rgba(0,0,0,0.17);
  box-shadow: 11px 9px 21px -1px rgba(0,0,0,0.17);
}

.children a {
  color:white;
}

.children i {
  color: white;
  font-size: 2em;
}

.tutor-container {
  margin-top: 2em;
  background-color: white;
  padding-left: 2em;
  -webkit-box-shadow: inset -1px 4px 43px -8px rgba(0,0,0,0.19);
  -moz-box-shadow: inset -1px 4px 43px -8px rgba(0,0,0,0.19);
  box-shadow: inset -1px 4px 43px -8px rgba(0,0,0,0.19);
}

.tutor-child i{
  color: black;
}

.children a:hover, a:focus {
  text-decoration: none;
}