<footer class="footer">
  <div class="container">
    <p class="text-muted">Copyright © 2015 Facultad de Informática – UNLP. Todos los derechos reservados. 50 y 120 - La Plata, Argentina.</p>
  </div>
</footer>