<div class="container" style="margin-top: 20px">
  <div class="alert alert-error">
    <h4 class="alert-heading">
      <%=t 'views.errors.messages.not_found' %>
    </h4>
    <%=t 'views.errors.messages.not_found_message' %>
  </div>
</div>
